[submodule "third_party/snappy/upstream"]
	path = third_party/snappy/upstream
	url = https://github.com/google/snappy.git
[submodule "third_party/leveldb/upstream"]
	path = third_party/leveldb/upstream
	url = https://github.com/google/leveldb
